.slider-about_fix {
    height: 500px;
    @include bp-mobile {
        height: 300px;
    }
    @include bp-tablet {
        height: 420px;
    }
    img {
        height: 100%;
    }
}

.about_pagination {
    justify-content: flex-end;
    .swiper-about-prev {
        margin-right: 20px;
    }
}