.caseStudies {
    padding-top: 120px;
    img {
        @include bp-tablet {
            width: 100%;
        }
    }
    &_case {
        margin-bottom: 80px;
        h1 {
            font-family: iCielDomaineText-Bold;
            font-size: 40px;
            color: #000;
        }
    }
    &_wrap {
        margin-bottom: 120px;
        width: 100%;
    }
    &_image {
        margin-bottom: 20px;
    }
    &_datePost {
        font-size: 16px;
        font-family:    CircularStd-Medium;
        color: #000;
    }
    &_title {
        font-family:    CircularStd-Medium;
        font-size: 16px;
        color: #000000;
    }
    &_content {
        font-size: 16px;
        font-family:    CircularStd-Medium;
        color: $brand_gray;
        margin-bottom: 35px;

    }
    &_link {
        color: #000;
        font-family:    CircularStd-Medium;
        font-size: 17px;
        &:hover p {
          color: $brand_red; 
        }
    }
    &_name {
        color: $brand_red;
        font-size: 18px;
        font-family: iCielDomaineText-Bold;
    }
    .row .col-md-4 {
        &:first-child {
            width: 100% !important;
            .caseStudies_wrap {
                display: flex;
                align-items: center;
                @include bp-mobile {
                    display: block;
                }
            }
            .caseStudies_name {
                font-size: 30px;
                font-family: iCielDomaineText-Bold;
            }
            .caseStudies_content {
                font-family:    CircularStd-Book;
            }
            .caseStudies_image {
                width: 70%;
                @include bp-mobile {
                    width: 100%;
                }
            }
            .caseStudies_wrap-content {
                width: 30%;
                padding-left: 40px;
                height: max-content;
                @include bp-mobile {
                    width: 100%;
                    padding: 0;
                }
                @include bp-tablet {
                    width: 100%;
                }
            }
            .caseStudies_datePost {
                display: none;
            }
        }
    }
}

.caseStudies_single {
    margin: 220px 0 100px 0;
    @include bp-mobile {
        margin: 100px 0 50px 0;
    }
    &_title {
        font-size: 52px;
        color: #000000!important;
        line-height: 1.2em;
        font-family:   DomaineTextBold;
        padding-right: 95px;
        margin: 30px 0 25px 0;
        @include bp-mobile {
            padding: 0;
        }
        @include bp-tablet {
            padding: 0;
         }
    }
    &_wrap {
        padding-left: 35px;
        @include bp-mobile {
           padding: 0;
           margin-top: 60px;
        }
        @include bp-tablet {
            padding: 0;
            margin-top: 60px;
         }
    }
    &_image {
        margin-bottom: 45px;
        img {
            width: 100%;
        }
    }
    &_name {
        font-family: iCielDomaineText-Bold;
        font-size: 40px;
        color: $brand_red;
        line-height: 45px;
        padding-bottom: 12px;
    }
    &_dateTime {
        font-family:    CircularStd-Medium;
        font-size: 16px;
        color: $brand_gray;
        padding-bottom: 60px;
    }
    &_content {
        font-family:    CircularStd-Black;
        font-size: 16px;
        color: $brand_gray;
        padding-bottom: 50px !important;
    }
}