.form {
    padding: 100px 0 105px 0px;
    font-family: iCielDomaineText-Bold !important;
    background: url('/wp-content/themes/Divi-child/images/tozai_images/background-contactus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    input {
        height: 50px;
        color: #fff !important;
        background-color: transparent !important;
        width: 100%;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 2px solid #fff !important; 
        font-size: 14px;
        font-family:    CircularStd-Bold;
        &::placeholder {
            font-size: 14px;
            color: #fff;
        }
    }
    &-title {
        padding-bottom: 60px;
        @include bp-mobile {
            padding-bottom: 30px;
        }
        h1 {
            color: #fff;
            font-size: 40px;
            padding-bottom: 20px;
            @include bp-mobile {
                font-size: 34px;
            }
        }
        p {
            color: #fff;
            opacity: .8;
            width: 460px;
            font-family:    CircularStd-Book;
            @include bp-mobile {
                width: auto;
            }
        }
    }
    &-name {
       
    }
    &-caseDetails {
        margin-top: 50px;
        textarea {
            color: #fff !important;
            background-color: transparent;
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid #fff;
            font-size: 14px;
            height: 90px;
            font-family: CircularStd-Bold;
            &::placeholder {
                font-size: 14px;
                color: #fff;
            }
        }
    }
    &-submit {
        margin-top: 30px;
        display: flex;
        @include bp-mobile {
            display: block;
        }
        p {
            text-align: left;
            font-size: 13px;
            color: #fff;
            opacity: .8;
            line-height: 1.4;
            padding-top: 9px;
            padding-bottom: 0;
            font-family:    CircularStd-Book;
        }
        input {
            width: 270px;
            height: 50px;
            background-color: $brand_red !important;
            border: none !important;
        }
        &_text {
            padding-left: 20px;
            border-left: 1px solid #fff; 
        }
    }
}