.fix_image-float {
    .et_pb_main_blurb_image {
        display: flex;
        justify-content: flex-start;
    }
    .et_pb_image_wrap {
        margin: unset !important;
    }
}

.add-font_medium {
    
}

.text-box {
    width: 60px;
    height: 60px;
    p {
        padding: 0;
        font-family:    iCielDomaineText-Medium;
        &:first-child {
            padding-bottom: 6px;
        }
        &:last-child {
            float: right;
            color: #ccc;
            padding-top: 6px;
        }
    }
    &_underlined {
        width: 50px;
        height: 1px;
        background: #ccc;
        margin: auto;
        transform: rotate(-45deg);
        
    }
    
}

.project_single-wrap {
    width: 100%;
    .et_pb_column_1_3 {
        width: 30%;
        margin-right: 30px !important;
    }
}

.meetTheTeam_fix {
    .et_pb_column_1_3 {
        margin-right: 30px !important;
    }
}