* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-size: $font_size;
    font-family: iCielDomaineText-Black;
    .header-second_link {
        font-weight: 600;
        font-family: CircularStd-Medium;
        width: max-content;
        color: #000;
        &::after {
            content: "";
            display: block;
            border-bottom: 2px solid #000;
            width: 60px;
            padding-bottom: 15px;
        }
    }
}

a {
    color: #000;
    transition: .2s ease;

    &:hover {
        background-color: rgba(0,0,0,0) !important;
        opacity: 1 !important;
        color: $brand_red !important;
        cursor: pointer;
    }
    &:focus {
        color: #23527c;
        text-decoration: unset;
    }
}
#main-menu {
    display: flex;
    @include bp-mobile {
       display: block;
    }
    a {
        font-family: iCielDomaineText-Medium;
        color: #000;
        font-size: $font_sizeMenu;
    }
    li {
        padding: 0px 25px 0px 25px;
        height: 100%;
        display: flex;
        align-items: center;
        @include bp-mobile {
            padding: 0px 25px 0px 40px;
            height: 45px;
        }
        @include bp-tablet {
            padding: 0px 10px 0px 10px;    
        }
        // &:active {
        //     border-bottom: 2px solid $brand_red;
        // }
        &:focus-within {
            border-bottom: 2px solid $brand_red;
        }
    }
}

.site-header {
    padding-bottom: 480px;
    background: url('/wp-content/themes/Divi-child/images/tozai_images/background-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include bp-mobile {
        padding-bottom: 120px;
        background-repeat: unset;
        background-position: unset;
    }
    &_navbar {
        margin-bottom: 240px;
        @include bp-mobile {
            margin-bottom: 80px;
        }
        .navbar-wrap {
            width: 100%;
            height: $menu-height;
            display: flex;
            align-items: center;
            @include bp-mobile {
               height: auto;
               display: block;
            }
        }
        .navbar-header {
            @include bp-mobile {
               height: $menu-height;
            }
        }
        .navbar-brand_fix {
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 200px;
            width: 121px;
            height: 54px;
            padding-right: 0;
            @include bp-mobile {
                padding: 0;
                margin-top: 12px;
                margin-right: 0;
            }
            @include bp-tablet {
               margin-right: 50px;
            }
        }
        button {
            @include bp-mobile {
                margin-top: 25px;
            }
        }
        
        .navbar-fix {
            background-color: transparent;
            border-bottom: 2px solid #fff;
            border-top: none;
            border-left: none;
            border-right: none;
            margin: 0;
        }
      
       

    }
    &_second {
        .header-second_title {
            font-size: 46px;
            padding-bottom: 40px;
            font-family:   DomaineTextBold;
            line-height: 60px;
            @include bp-mobile {
                font-size: 40px;
                line-height: 50px;
            }
            
        }
        .header-second_text {
            color: $brand_gray;
            padding-bottom: 50px;
            font-family:    CircularStd-Book;
        }
        // .header-second_link {
        //     font-weight: 600;
        //     font-family: CircularStd-Medium;
        //     width: max-content;
        //     color: #000;
        //     &::after {
        //         content: "";
        //         display: block;
        //         border-bottom: 2px solid #000;
        //         width: 60px;
        //         padding-bottom: 15px;
        //     }
        // }
    }
}



.site-footer {
    padding-top: 200px;
    @include bp-mobile {
        padding-top: 100px;
     }
    a {
        color: $brand_dark;
        margin-right: 10px;
        font-family:    iCielDomaineText-Medium;
        font-size: 16px;
    }
    ul {
        margin-bottom: 30px;
    }
    p {
        font-size: 15px;
        color: #000;
        opacity: .5;
        padding-bottom: 0;
        margin-bottom: 30px;
        line-height: 20px;
        font-family: CircularStd-Bold;
        @include bp-mobile {
            margin-bottom: 20px;
        }

    }
    &_firstPartial {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        @include bp-mobile {
            margin-bottom: 80px;
        }
    }
    .footer_second-copyright {
        p {
            font-family:    CircularStd-Book;
        }
    }
    .logo-footer {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
    .footer-connect {
        display: flex;
        justify-content: center;
        img {
            width: 26px;
            height: 26px;
        }
    }
    .footer-navbar {
        ul {
            display: flex;
            @include bp-mobile {
                display: block;
            }
        }
        li {
            padding: 0px 25px 0px 25px;
            color: #000;
            opacity: .6;
            @include bp-mobile {
                padding: 0px 25px 10px 45px;
            }
        }
    }
    &_second {
        .footer_second-wrap {
            display: flex;
            justify-content: space-between;
            @include bp-mobile {
                display: block;
            }
        }
        .footer_second-terms {
            display: flex;
            @include bp-mobile {
               justify-content: space-between;
            }
            p:nth-child(1) {
                padding-right: 25px;
            }
        }
    }
}

#menu-posts-case_studies {
    .wp-menu-image {
        img {
            width: 24px !important;
        }
    }
}


.navbar-langugle-flex {
    display: flex;
    #lang_sel a.lang_sel_sel {
        color: #000;
        &::after {
            content: ">";
            transform: rotate(90deg);
            display: inline-block;
            margin-left: 15px;
            font-family: monospace;
        }
    }
    .site_languge {
        display: flex;
        align-items: center;
        @include bp-mobile {
            display: none;
        }
    }
    a {
        background: transparent !important;
        border: none !important;
        font-family:    iCielDomaineText-Medium;
        font-size: 16px !important;

        &:hover {
            color: $brand_red;
        }
    }
    ul {
        border: none !important;
    }
 
}