$brand_red: #c01823;
$brand_dark: #231F20;
$brand_gray: #8d8d8d;
$light_gray: #d2d1d1;

$menu-height: 80px;
$font_sizeMenu: 16px;
$font_size: 18px;



@mixin bp-mobile{
    @media only screen and (max-width: 767.98px){
        @content;
    }
}

// @mixin bp-medium{
//     @media only screen and (min-width: 576px) and (max-width: 767.98px){
//         @content;
//     }
// }

@mixin bp-tablet{
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}

@mixin bp-desktop{
    @media only screen and (min-width: 992px) and (max-width: 1199.98px){
        @content;
    }

}
@mixin bp-wide{
    @media only screen and (min-width: 1200px){
        @content;
    }

}


.cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: iCielDomaineText-Black;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-Black.ttf');
    font-weight: normal;
    }

@font-face {
    font-family: iCielDomaineText-BlackItalic;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-BlackItalic.ttf');
    font-weight: normal;
    }

@font-face {
    font-family: iCielDomaineText-Bold;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-Bold.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-BoldItalic;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-BoldItalic.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-Light;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-Light.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-LightItalic;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-LightItalic.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-Medium;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-Medium.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-MediumItalic;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-MediumItalic.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-Regular;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-Regular.ttf');
    font-weight: normal;
    }

@font-face {
    font-family:    iCielDomaineText-RegularItalic;
    src: url('/wp-content/themes/Divi-child/css/font/iCielDomaineText-RegularItalic.ttf');
    font-weight: normal;
    }

    @font-face {
        font-family:    CircularStd-Black;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-Black.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:    CircularStd-BlackItalic;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-BlackItalic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:    CircularStd-Bold;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-Bold.otf');
        font-weight: normal;
        }
        
    @font-face {
        font-family:    CircularStd-BoldItalic;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-BoldItalic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:    CircularStd-Book;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-Book.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:    CircularStd-BookItalic;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-BookItalic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:    CircularStd-Medium;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-Medium.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   CircularStd-MediumItalic;
        src: url('/wp-content/themes/Divi-child/css/font/CircularStd-MediumItalic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextBlackItalic;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Black\ Italic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextBlack;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Black.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextBoldItalic;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Bold\ Italic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextBold;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Bold.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextLightItalic;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Light\ Italic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextLight;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Light.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextMediumItalic;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Medium\ Italic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextMedium;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Medium.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextRegularItalic;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Regular\ Italic.otf');
        font-weight: normal;
        }

    @font-face {
        font-family:   DomaineTextRegular;
        src: url('/wp-content/themes/Divi-child/css/font/Domaine\ Text\ Regular.otf');
        font-weight: normal;
        }