
.swiper-button-fix {
    width: 47px;
    height: 47px;
    color: $brand_red;
    border: 1px solid $brand_red;
    background-image: none;
    text-align: center;
    line-height: 42px;
    font-size: 28px;
    font-family: cursive;
    right: -100px;
    @include bp-mobile {
        display: none;
    }
}
.swiper-prev-fix {
    left: -100px;
    @include bp-tablet {
        left:  -60px;
    }
}
.swiper-next-fix {
    right: -100px;
    @include bp-tablet {
        right: -60px;
    }
}

.slideTestimonial {
    p {
        padding-bottom: 5px;
    }
    &_wrap {
        display: flex;
        width: 100%;
    }
    &_image {
        width: 33%;
        img {
            width: 100%;
            height: 160px;
            @include bp-mobile {
                height: 110px;
            }
            @include bp-tablet {
                height: 130px;
            }
            
        }
    }
    &_text {
        position: relative;
        width: 67%;
        margin-left: 25px;
        &::before {
            content: "“";
            font-size: 50px;
            font-family:    CircularStd-Bold;
            color: $brand_red;
            position: absolute;
            top: -40px;
            left: 0;
        }

    }
    &_content {
        font-size: 16px;
        font-family:    CircularStd-Book;
        color: $brand_gray;
        padding-bottom: 30px !important;
        height: 190px;
        overflow: auto;
    }
    &_name {
        font-size: 18px;
        font-family:    iCielDomaineText-Bold;
        color: $brand_red;
    }
    &_positions {
        font-size: 16px;
        font-family:    CircularStd-Medium;
        color: #000;
    }
    &_company {
        font-size: 16px;
        font-family:    CircularStd-Medium;
        color: $brand_gray;
    }
}

.swiper-wrap-fix {
    height: 350px;
}
.swiper-slide-fix {
    margin-top: 85px;
}

.swiper_testimonials-reponsive {
    width: 48% !important;
    @include bp-mobile {
        width: 100% !important;
    }
}