.swiper_casestudies-height {
    height: max-content;
}

.slideCasestudies {
    &_title {
        font-family:    CircularStd-Medium;
        font-size: 16px;
        color: #000;
    }
    &_name {
        font-family: iCielDomaineText-Bold;
        font-size: 30px;
        color: $brand_red;
        line-height: 28px;
    }
    &_content {
        font-family:    CircularStd-Book;
        font-size: 16px;
        color: $brand_gray;
        padding-bottom: 45px !important;
    }
    &_link {
        color: #000;
        font-family:    CircularStd-Medium;
        font-size: 17px;
    }
}



.pagination_fix {
    display: flex;
    flex-direction: row-reverse;
    
    .swiper-fix{
        width: 54px;
        height: 54px;
        border-radius: 30px;
        color: #fff;
        border: 1px solid $brand_gray;
        background-image: none;
        text-align: center;
        line-height: 48px;
        font-size: 28px;
        font-family: cursive;
        background-color: $brand_red;
        position: unset !important;
        margin-top: 0;
    }
    .swiper-casestudies-prev {
        margin-right: 15px;
    }
    .swiper-pagination-casestudies {
        position: relative;
        width: 60px;
        height: 60px;
        font-size: 24px;
        font-family: iCielDomaineText-Medium;
        margin-left: 150px;
        span {
            display: block;
        }
        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background: #ccc;
            display: inline-block;
            transform: rotate(-45deg);
            position: absolute;
            top: 30px;
        }
    }
    .swiper-pagination-current {
        padding-bottom: 6px;
        font-size: 24px;
        color: #000;
    }
    .swiper-pagination-total {
        float: right;
        color: #ccc;
        padding-top: 6px;
    }
}

