@import "mixins";


.site-footer {
    padding-top: 30px !important;
    @include bp-mobile {
        padding-top: 30px !important;
     }
}

.site-header {
    padding-bottom: 0 !important; 
    background: url('/wp-content/themes/Divi/images/tozai_images/background-contact.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    .form {
        background: none !important;
        @include bp-mobile {
            padding: 0;
        }
    }
}

.site-header_navbar {
    margin-bottom: 150px !important;
}

.form {
    &-title {
        h1 {
            color: #000 !important;
        }
        p {
            color: #000 !important;
            opacity: .5 !important;
        }
    }
    
    &-country {
        
    }

    span {
        input {
            color: #000 !important;
            border-bottom: 2px solid #000 !important; 
            &::placeholder {
                color: #000 !important;
            }
        }
    }
    span {
        textarea {
            color: #000 !important;
            border-bottom: 2px solid #000 !important;
            &::placeholder {
                color: #000 !important;
            }
        }
    }

    &-submit_text {
        border-left: 1px solid #000 !important;
        p {
            color: #000 !important;
        }
    }
}

.site-header_content {
    padding: 110px 0px 80px 0px;
    .header-content_wrap {
        h1 {
            color: $brand_red;
            line-height: 1.1;
            padding-bottom: 20px;
            font-family: iCielDomaineText-Bold;
            font-size: 32px;
        }
        p {
            color: #000;
            font-size: 17px;
            font-family:    iCielDomaineText-Medium;
        }
    }
}