.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@font-face {
  font-family: iCielDomaineText-Black;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Black.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-BlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-BlackItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Bold;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-BoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-BoldItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Light;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Light.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-LightItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-LightItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Medium;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Medium.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-MediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-MediumItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Regular;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-RegularItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-RegularItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Black;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Black.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BlackItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Bold;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Bold.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BoldItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Book;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Book.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BookItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BookItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Medium;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Medium.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-MediumItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Black Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBlack;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Black.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Bold Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBold;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Bold.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextLightItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Light Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextLight;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Light.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextMediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Medium Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextMedium;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Medium.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextRegularItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Regular Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextRegular;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Regular.otf");
  font-weight: normal; }
.site-footer {
  padding-top: 30px !important; }
  @media only screen and (max-width: 767.98px) {
    .site-footer {
      padding-top: 30px !important; } }

.site-header {
  padding-bottom: 0 !important;
  background: url("/wp-content/themes/Divi/images/tozai_images/background-contact.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important; }
  .site-header .form {
    background: none !important; }
    @media only screen and (max-width: 767.98px) {
      .site-header .form {
        padding: 0; } }

.site-header_navbar {
  margin-bottom: 150px !important; }

.form-title h1 {
  color: #000 !important; }
.form-title p {
  color: #000 !important;
  opacity: .5 !important; }
.form span input {
  color: #000 !important;
  border-bottom: 2px solid #000 !important; }
  .form span input::placeholder {
    color: #000 !important; }
.form span textarea {
  color: #000 !important;
  border-bottom: 2px solid #000 !important; }
  .form span textarea::placeholder {
    color: #000 !important; }
.form-submit_text {
  border-left: 1px solid #000 !important; }
  .form-submit_text p {
    color: #000 !important; }

.site-header_content {
  padding: 110px 0px 80px 0px; }
  .site-header_content .header-content_wrap h1 {
    color: #c01823;
    line-height: 1.1;
    padding-bottom: 20px;
    font-family: iCielDomaineText-Bold;
    font-size: 32px; }
  .site-header_content .header-content_wrap p {
    color: #000;
    font-size: 17px;
    font-family: iCielDomaineText-Medium; }

/*# sourceMappingURL=contact-page.css.map */
