@charset "UTF-8";
.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@font-face {
  font-family: iCielDomaineText-Black;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Black.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-BlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-BlackItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Bold;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-BoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-BoldItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Light;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Light.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-LightItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-LightItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Medium;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Medium.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-MediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-MediumItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-Regular;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: iCielDomaineText-RegularItalic;
  src: url("/wp-content/themes/Divi-child/css/font/iCielDomaineText-RegularItalic.ttf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Black;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Black.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BlackItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Bold;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Bold.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BoldItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Book;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Book.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-BookItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-BookItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-Medium;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-Medium.otf");
  font-weight: normal; }
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/CircularStd-MediumItalic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBlackItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Black Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBlack;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Black.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBoldItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Bold Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextBold;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Bold.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextLightItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Light Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextLight;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Light.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextMediumItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Medium Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextMedium;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Medium.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextRegularItalic;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Regular Italic.otf");
  font-weight: normal; }
@font-face {
  font-family: DomaineTextRegular;
  src: url("/wp-content/themes/Divi-child/css/font/Domaine Text Regular.otf");
  font-weight: normal; }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0; }

body {
  font-size: 18px;
  font-family: iCielDomaineText-Black; }
  body .header-second_link {
    font-weight: 600;
    font-family: CircularStd-Medium;
    width: max-content;
    color: #000; }
    body .header-second_link::after {
      content: "";
      display: block;
      border-bottom: 2px solid #000;
      width: 60px;
      padding-bottom: 15px; }

a {
  color: #000;
  transition: .2s ease; }
  a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;
    color: #c01823 !important;
    cursor: pointer; }
  a:focus {
    color: #23527c;
    text-decoration: unset; }

#main-menu {
  display: flex; }
  @media only screen and (max-width: 767.98px) {
    #main-menu {
      display: block; } }
  #main-menu a {
    font-family: iCielDomaineText-Medium;
    color: #000;
    font-size: 16px; }
  #main-menu li {
    padding: 0px 25px 0px 25px;
    height: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767.98px) {
      #main-menu li {
        padding: 0px 25px 0px 40px;
        height: 45px; } }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      #main-menu li {
        padding: 0px 10px 0px 10px; } }
    #main-menu li:focus-within {
      border-bottom: 2px solid #c01823; }

.site-header {
  padding-bottom: 480px;
  background: url("/wp-content/themes/Divi-child/images/tozai_images/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 767.98px) {
    .site-header {
      padding-bottom: 120px;
      background-repeat: unset;
      background-position: unset; } }
  .site-header_navbar {
    margin-bottom: 240px; }
    @media only screen and (max-width: 767.98px) {
      .site-header_navbar {
        margin-bottom: 80px; } }
    .site-header_navbar .navbar-wrap {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 767.98px) {
        .site-header_navbar .navbar-wrap {
          height: auto;
          display: block; } }
    @media only screen and (max-width: 767.98px) {
      .site-header_navbar .navbar-header {
        height: 80px; } }
    .site-header_navbar .navbar-brand_fix {
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 200px;
      width: 121px;
      height: 54px;
      padding-right: 0; }
      @media only screen and (max-width: 767.98px) {
        .site-header_navbar .navbar-brand_fix {
          padding: 0;
          margin-top: 12px;
          margin-right: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .site-header_navbar .navbar-brand_fix {
          margin-right: 50px; } }
    @media only screen and (max-width: 767.98px) {
      .site-header_navbar button {
        margin-top: 25px; } }
    .site-header_navbar .navbar-fix {
      background-color: transparent;
      border-bottom: 2px solid #fff;
      border-top: none;
      border-left: none;
      border-right: none;
      margin: 0; }
  .site-header_second .header-second_title {
    font-size: 46px;
    padding-bottom: 40px;
    font-family: DomaineTextBold;
    line-height: 60px; }
    @media only screen and (max-width: 767.98px) {
      .site-header_second .header-second_title {
        font-size: 40px;
        line-height: 50px; } }
  .site-header_second .header-second_text {
    color: #8d8d8d;
    padding-bottom: 50px;
    font-family: CircularStd-Book; }

.site-footer {
  padding-top: 200px; }
  @media only screen and (max-width: 767.98px) {
    .site-footer {
      padding-top: 100px; } }
  .site-footer a {
    color: #231F20;
    margin-right: 10px;
    font-family: iCielDomaineText-Medium;
    font-size: 16px; }
  .site-footer ul {
    margin-bottom: 30px; }
  .site-footer p {
    font-size: 15px;
    color: #000;
    opacity: .5;
    padding-bottom: 0;
    margin-bottom: 30px;
    line-height: 20px;
    font-family: CircularStd-Bold; }
    @media only screen and (max-width: 767.98px) {
      .site-footer p {
        margin-bottom: 20px; } }
  .site-footer_firstPartial {
    display: flex;
    justify-content: center;
    margin-bottom: 120px; }
    @media only screen and (max-width: 767.98px) {
      .site-footer_firstPartial {
        margin-bottom: 80px; } }
  .site-footer .footer_second-copyright p {
    font-family: CircularStd-Book; }
  .site-footer .logo-footer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center; }
  .site-footer .footer-connect {
    display: flex;
    justify-content: center; }
    .site-footer .footer-connect img {
      width: 26px;
      height: 26px; }
  .site-footer .footer-navbar ul {
    display: flex; }
    @media only screen and (max-width: 767.98px) {
      .site-footer .footer-navbar ul {
        display: block; } }
  .site-footer .footer-navbar li {
    padding: 0px 25px 0px 25px;
    color: #000;
    opacity: .6; }
    @media only screen and (max-width: 767.98px) {
      .site-footer .footer-navbar li {
        padding: 0px 25px 10px 45px; } }
  .site-footer_second .footer_second-wrap {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 767.98px) {
      .site-footer_second .footer_second-wrap {
        display: block; } }
  .site-footer_second .footer_second-terms {
    display: flex; }
    @media only screen and (max-width: 767.98px) {
      .site-footer_second .footer_second-terms {
        justify-content: space-between; } }
    .site-footer_second .footer_second-terms p:nth-child(1) {
      padding-right: 25px; }

#menu-posts-case_studies .wp-menu-image img {
  width: 24px !important; }

.navbar-langugle-flex {
  display: flex; }
  .navbar-langugle-flex #lang_sel a.lang_sel_sel {
    color: #000; }
    .navbar-langugle-flex #lang_sel a.lang_sel_sel::after {
      content: ">";
      transform: rotate(90deg);
      display: inline-block;
      margin-left: 15px;
      font-family: monospace; }
  .navbar-langugle-flex .site_languge {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767.98px) {
      .navbar-langugle-flex .site_languge {
        display: none; } }
  .navbar-langugle-flex a {
    background: transparent !important;
    border: none !important;
    font-family: iCielDomaineText-Medium;
    font-size: 16px !important; }
    .navbar-langugle-flex a:hover {
      color: #c01823; }
  .navbar-langugle-flex ul {
    border: none !important; }

.fix_image-float .et_pb_main_blurb_image {
  display: flex;
  justify-content: flex-start; }
.fix_image-float .et_pb_image_wrap {
  margin: unset !important; }

.text-box {
  width: 60px;
  height: 60px; }
  .text-box p {
    padding: 0;
    font-family: iCielDomaineText-Medium; }
    .text-box p:first-child {
      padding-bottom: 6px; }
    .text-box p:last-child {
      float: right;
      color: #ccc;
      padding-top: 6px; }
  .text-box_underlined {
    width: 50px;
    height: 1px;
    background: #ccc;
    margin: auto;
    transform: rotate(-45deg); }

.project_single-wrap {
  width: 100%; }
  .project_single-wrap .et_pb_column_1_3 {
    width: 30%;
    margin-right: 30px !important; }

.meetTheTeam_fix .et_pb_column_1_3 {
  margin-right: 30px !important; }

.form {
  padding: 100px 0 105px 0px;
  font-family: iCielDomaineText-Bold !important;
  background: url("/wp-content/themes/Divi-child/images/tozai_images/background-contactus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .form input {
    height: 50px;
    color: #fff !important;
    background-color: transparent !important;
    width: 100%;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #fff !important;
    font-size: 14px;
    font-family: CircularStd-Bold; }
    .form input::placeholder {
      font-size: 14px;
      color: #fff; }
  .form-title {
    padding-bottom: 60px; }
    @media only screen and (max-width: 767.98px) {
      .form-title {
        padding-bottom: 30px; } }
    .form-title h1 {
      color: #fff;
      font-size: 40px;
      padding-bottom: 20px; }
      @media only screen and (max-width: 767.98px) {
        .form-title h1 {
          font-size: 34px; } }
    .form-title p {
      color: #fff;
      opacity: .8;
      width: 460px;
      font-family: CircularStd-Book; }
      @media only screen and (max-width: 767.98px) {
        .form-title p {
          width: auto; } }
  .form-caseDetails {
    margin-top: 50px; }
    .form-caseDetails textarea {
      color: #fff !important;
      background-color: transparent;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid #fff;
      font-size: 14px;
      height: 90px;
      font-family: CircularStd-Bold; }
      .form-caseDetails textarea::placeholder {
        font-size: 14px;
        color: #fff; }
  .form-submit {
    margin-top: 30px;
    display: flex; }
    @media only screen and (max-width: 767.98px) {
      .form-submit {
        display: block; } }
    .form-submit p {
      text-align: left;
      font-size: 13px;
      color: #fff;
      opacity: .8;
      line-height: 1.4;
      padding-top: 9px;
      padding-bottom: 0;
      font-family: CircularStd-Book; }
    .form-submit input {
      width: 270px;
      height: 50px;
      background-color: #c01823 !important;
      border: none !important; }
    .form-submit_text {
      padding-left: 20px;
      border-left: 1px solid #fff; }

.caseStudies {
  padding-top: 120px; }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .caseStudies img {
      width: 100%; } }
  .caseStudies_case {
    margin-bottom: 80px; }
    .caseStudies_case h1 {
      font-family: iCielDomaineText-Bold;
      font-size: 40px;
      color: #000; }
  .caseStudies_wrap {
    margin-bottom: 120px;
    width: 100%; }
  .caseStudies_image {
    margin-bottom: 20px; }
  .caseStudies_datePost {
    font-size: 16px;
    font-family: CircularStd-Medium;
    color: #000; }
  .caseStudies_title {
    font-family: CircularStd-Medium;
    font-size: 16px;
    color: #000000; }
  .caseStudies_content {
    font-size: 16px;
    font-family: CircularStd-Medium;
    color: #8d8d8d;
    margin-bottom: 35px; }
  .caseStudies_link {
    color: #000;
    font-family: CircularStd-Medium;
    font-size: 17px; }
    .caseStudies_link:hover p {
      color: #c01823; }
  .caseStudies_name {
    color: #c01823;
    font-size: 18px;
    font-family: iCielDomaineText-Bold; }
  .caseStudies .row .col-md-4:first-child {
    width: 100% !important; }
    .caseStudies .row .col-md-4:first-child .caseStudies_wrap {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 767.98px) {
        .caseStudies .row .col-md-4:first-child .caseStudies_wrap {
          display: block; } }
    .caseStudies .row .col-md-4:first-child .caseStudies_name {
      font-size: 30px;
      font-family: iCielDomaineText-Bold; }
    .caseStudies .row .col-md-4:first-child .caseStudies_content {
      font-family: CircularStd-Book; }
    .caseStudies .row .col-md-4:first-child .caseStudies_image {
      width: 70%; }
      @media only screen and (max-width: 767.98px) {
        .caseStudies .row .col-md-4:first-child .caseStudies_image {
          width: 100%; } }
    .caseStudies .row .col-md-4:first-child .caseStudies_wrap-content {
      width: 30%;
      padding-left: 40px;
      height: max-content; }
      @media only screen and (max-width: 767.98px) {
        .caseStudies .row .col-md-4:first-child .caseStudies_wrap-content {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .caseStudies .row .col-md-4:first-child .caseStudies_wrap-content {
          width: 100%; } }
    .caseStudies .row .col-md-4:first-child .caseStudies_datePost {
      display: none; }

.caseStudies_single {
  margin: 220px 0 100px 0; }
  @media only screen and (max-width: 767.98px) {
    .caseStudies_single {
      margin: 100px 0 50px 0; } }
  .caseStudies_single_title {
    font-size: 52px;
    color: #000000 !important;
    line-height: 1.2em;
    font-family: DomaineTextBold;
    padding-right: 95px;
    margin: 30px 0 25px 0; }
    @media only screen and (max-width: 767.98px) {
      .caseStudies_single_title {
        padding: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .caseStudies_single_title {
        padding: 0; } }
  .caseStudies_single_wrap {
    padding-left: 35px; }
    @media only screen and (max-width: 767.98px) {
      .caseStudies_single_wrap {
        padding: 0;
        margin-top: 60px; } }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .caseStudies_single_wrap {
        padding: 0;
        margin-top: 60px; } }
  .caseStudies_single_image {
    margin-bottom: 45px; }
    .caseStudies_single_image img {
      width: 100%; }
  .caseStudies_single_name {
    font-family: iCielDomaineText-Bold;
    font-size: 40px;
    color: #c01823;
    line-height: 45px;
    padding-bottom: 12px; }
  .caseStudies_single_dateTime {
    font-family: CircularStd-Medium;
    font-size: 16px;
    color: #8d8d8d;
    padding-bottom: 60px; }
  .caseStudies_single_content {
    font-family: CircularStd-Black;
    font-size: 16px;
    color: #8d8d8d;
    padding-bottom: 50px !important; }

.swiper-button-fix {
  width: 47px;
  height: 47px;
  color: #c01823;
  border: 1px solid #c01823;
  background-image: none;
  text-align: center;
  line-height: 42px;
  font-size: 28px;
  font-family: cursive;
  right: -100px; }
  @media only screen and (max-width: 767.98px) {
    .swiper-button-fix {
      display: none; } }

.swiper-prev-fix {
  left: -100px; }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .swiper-prev-fix {
      left: -60px; } }

.swiper-next-fix {
  right: -100px; }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .swiper-next-fix {
      right: -60px; } }

.slideTestimonial p {
  padding-bottom: 5px; }
.slideTestimonial_wrap {
  display: flex;
  width: 100%; }
.slideTestimonial_image {
  width: 33%; }
  .slideTestimonial_image img {
    width: 100%;
    height: 160px; }
    @media only screen and (max-width: 767.98px) {
      .slideTestimonial_image img {
        height: 110px; } }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .slideTestimonial_image img {
        height: 130px; } }
.slideTestimonial_text {
  position: relative;
  width: 67%;
  margin-left: 25px; }
  .slideTestimonial_text::before {
    content: "“";
    font-size: 50px;
    font-family: CircularStd-Bold;
    color: #c01823;
    position: absolute;
    top: -40px;
    left: 0; }
.slideTestimonial_content {
  font-size: 16px;
  font-family: CircularStd-Book;
  color: #8d8d8d;
  padding-bottom: 30px !important;
  height: 190px;
  overflow: auto; }
.slideTestimonial_name {
  font-size: 18px;
  font-family: iCielDomaineText-Bold;
  color: #c01823; }
.slideTestimonial_positions {
  font-size: 16px;
  font-family: CircularStd-Medium;
  color: #000; }
.slideTestimonial_company {
  font-size: 16px;
  font-family: CircularStd-Medium;
  color: #8d8d8d; }

.swiper-wrap-fix {
  height: 350px; }

.swiper-slide-fix {
  margin-top: 85px; }

.swiper_testimonials-reponsive {
  width: 48% !important; }
  @media only screen and (max-width: 767.98px) {
    .swiper_testimonials-reponsive {
      width: 100% !important; } }

.swiper_casestudies-height {
  height: max-content; }

.slideCasestudies_title {
  font-family: CircularStd-Medium;
  font-size: 16px;
  color: #000; }
.slideCasestudies_name {
  font-family: iCielDomaineText-Bold;
  font-size: 30px;
  color: #c01823;
  line-height: 28px; }
.slideCasestudies_content {
  font-family: CircularStd-Book;
  font-size: 16px;
  color: #8d8d8d;
  padding-bottom: 45px !important; }
.slideCasestudies_link {
  color: #000;
  font-family: CircularStd-Medium;
  font-size: 17px; }

.pagination_fix {
  display: flex;
  flex-direction: row-reverse; }
  .pagination_fix .swiper-fix {
    width: 54px;
    height: 54px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #8d8d8d;
    background-image: none;
    text-align: center;
    line-height: 48px;
    font-size: 28px;
    font-family: cursive;
    background-color: #c01823;
    position: unset !important;
    margin-top: 0; }
  .pagination_fix .swiper-casestudies-prev {
    margin-right: 15px; }
  .pagination_fix .swiper-pagination-casestudies {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: iCielDomaineText-Medium;
    margin-left: 150px; }
    .pagination_fix .swiper-pagination-casestudies span {
      display: block; }
    .pagination_fix .swiper-pagination-casestudies::before {
      content: "";
      width: 50px;
      height: 1px;
      background: #ccc;
      display: inline-block;
      transform: rotate(-45deg);
      position: absolute;
      top: 30px; }
  .pagination_fix .swiper-pagination-current {
    padding-bottom: 6px;
    font-size: 24px;
    color: #000; }
  .pagination_fix .swiper-pagination-total {
    float: right;
    color: #ccc;
    padding-top: 6px; }

.slider-about_fix {
  height: 500px; }
  @media only screen and (max-width: 767.98px) {
    .slider-about_fix {
      height: 300px; } }
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .slider-about_fix {
      height: 420px; } }
  .slider-about_fix img {
    height: 100%; }

.about_pagination {
  justify-content: flex-end; }
  .about_pagination .swiper-about-prev {
    margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
